<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Classifier</title>
    <style>
        body{
            text-align: center;
            background-color: #70A9A1;
        }
        button {
            padding: 10px;
            background-color: #9EC1A3;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1 style ="color:#CFE0C3"> Email Spam classifier</h1>
    <br>
    <br>
    <form method ="post" action="/predict">
        <textarea name="email-content" id="text" cols="100" rows="10" placeholder="Enter your email body" style ="background-color: rgb(236, 231, 231);">{{email_text}}

        </textarea>
        <br>
        <br>
        <button type="submit">Submit</button>
        <a href="/">Reset</a>

    </form>
    <div>
        {% if predictions == 1 %}
            <h2 style="color:rgb(255, 103, 103)">Spam</h2>
         {% else %}
            <h2 style="color:rgb(126, 223, 126)">Not Spam</h2>
        {% endif %}
    </div>



</body>
</html>