<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            text-align: center;
        }
        button {
            padding: 10px;
            background-color: #35b4f0;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1> Email Spam classifier</h1>
    <form method ="post">
        <textarea name="text" id="text" cols="30" rows="15" placeholder="Enter your email body"></textarea>
        <br>
        <button type="submit">Submit</button>

    </form>
</body>
</html>